.popup{float:left; position:absolute; background-color:#EEEEEE; border:1px solid #CDD1D6; box-shadow:0 1px 10px rgba(0,0,0,.2); z-index:30000;}
.popup .header{float:left; width:100%; height:65px; border-bottom:1px solid #B9BEC3; cursor:move;}
.popup .header a{margin:20px 0 0 20px;}
.popup .content{float:left; width:100%; height:100%;}

/* login/registration popup */
	.login-reg-popup{float:left;}
	.login-reg-popup .login{float:left; width:220px; padding:0 40px 0 40px;}
	.login-reg-popup .registration{float:left; width:220px; padding-left:40px; border-left:1px solid #B9BEC3;}