#top{width:100%; background-color:#0B598A; height:60px; z-index:20000;}
#top .top-menu{width:960px; margin:0 auto; color:#fff;}
#top .logo{float:left; padding-right:32px; font:27px/54px "Tahoma",sans-serif;}
#top .logo a{color:#FFFFFF; text-decoration:none;}
#top .top-button-block{float:left;}
#top .button a{float:left; padding:0 20px; font-size:17px; line-height:60px; color:#C8EBFF; text-decoration:none;}
#top .button a:hover{background-color:#004A74; color:#fff; cursor:pointer;}
#top .banner{float:left; width:230px; height:60px; background-color:#38ab4e;}
#top .banner .content{float:left; font-size:13px; line-height:18px;}
#top .banner .content:hover{background-color:#2c8f3d; cursor:pointer;}
#top .banner a{float:left; width:230px; color:#fff; text-decoration:none;}
#top .banner span{float:left; padding:3px 10px;}
#top .banner .img{float:left; position:relative; width:60px; height:60px; color:#fff; cursor:pointer;}
#top .user{float:right; height:60px; background-color:#38ab4e;}
#top .user .content{float:left;}
#top .user .content:hover{background-color:#2c8f3d; cursor:pointer;}
#top .user a{float:left; color:#fff; text-decoration:none;}
#top .user span{float:left; padding:0 20px; font-size:17px; line-height:60px;}
#top .user .img{float:left; position:relative; width:60px; height:60px; color:#fff; cursor:pointer;}
#top .user img{width:60px; height:60px;}