body{background-color:#fff;}
#userpage{width:960px; margin:30px auto 0;}
#userpage .left-column{float:left; width:120px; height:400px;}
#userpage .left-column a{display:block; width:100px; margin-right:20px; line-height:25px; text-decoration:none;}
#userpage .left-column a:hover{text-decoration:underline;}
#userpage .left-column a:active{background-color:#F1F1F1;}
#userpage .user-column{float:left; width:200px; height:400px;}
#userpage .avatar{float:left; position:relative; width:194px; background-color:#F1F1F1; border:10px solid #F1F1F1;}
#userpage .avatar img{position:relative; width:194px; border:3px solid #F1F1F1; left:-3px;}
#userpage .avatar-change-button{float:left; position:absolute; top:165px; width:194px; height:60px; background-color:rgba(56,171,78,0.8); color:#FFFFFF; line-height:60px; text-align:center; cursor:pointer;}

#userpage .buttons-block a{display:block; float:left; margin-top:5px; width:194px; height:30px; line-height:30px; text-align:center; text-decoration:none; color:#0B598A;}
#userpage .buttons-block a:hover{background-color:#0B598A; color:#fff;}
#userpage .buttons-block select{width:194px; margin-top:5px; color:#0B598A; border:none; cursor:pointer;}

#userpage .center-column{float:left; width:610px; margin-left:27px;}
#userpage .name{margin:0;}
#userpage .info{border-bottom:1px dotted #aaa; margin-top:10px;}

#userpage .main-info{margin:0 23px;}
#userpage .main-info h3{margin:23px 0;}
#userpage .main-info p{padding-left:20px; color:#3c3c3c;}

#userpage .post{padding:23px;}
#userpage h4{padding:4px 10px; background-color:#F1F1F1; font-weight:normal;}