<div class="slider-page" id="contract-page">
	<h3>Пример договора</h3>
	<div class="scrollx" style="float:left; width:700px; padding-right:20px; height:520px; line-height:18px;">
		<p>
			ДОГОВОР № <b>176</b>
			<br />
			<br />г. Санкт-Петербург									<b>12 сентября 2013</b> г.
		</p>
		<p>
			<b>ОАО «Заря»</b>, именуемое в дальнейшем «Заказчик», в лице Первого заместителя генерального директора <b>Иванова Ивана Ивановича</b>, действующего на основании Доверенности <b>№ 523 от 15 августа 2009 года</b>, с одной стороны, и
			<b>Петрова Петра Петровича</b> (дата рождения <b>1.04.1990</b>, паспорт серия <b>4000</b>, № <b>45363456</b>, выдан <b>35 о/м Приморского района</b>, дата выдачи <b>17.05.2004</b>, зарегистрирован по адресу: <b>пр. Испытателей, д.11, кв.456</b>, именуемый в дальнейшем «Работник», с другой стороны, далее совместно именуемые «Стороны», заключили настоящий Договор  (далее «Договор») о нижеследующем:
		</p>
		<p>
		<ul type="none">
			<li>1.	ПРЕДМЕТ ДОГОВОРА</li>
			<li>1.1	Работник по заданию Заказчика своими силами оказывает Заказчику комплекс услуг, связанных с <b>__________________________________________________________________</b> в соответствии с Календарным планом оказания услуг (Приложение №1 к настоящему Договору), - далее «услуги».</li>
			<li>1.2.	Услуги оказываются в период  с <b>14 сентября 2013</b> г. по <b>17 сентября 2013</b> г.</li>
			<li>1.3.	Оказанные услуги оформляются ежемесячным подписанием Акта об оказанных услугах  в двух экземплярах в соответствии с настоящим Договором.</li>
			<li>1.4.	По настоящему Договору Работник не имеет права заключения/изменения/расторжения каких-либо договоров от лица Заказчика, не является торговым представителем и/или агентом Заказчика, и не может выступать от лица Заказчика в каких-либо сделках, не имеет права делать заявления, давать поручения, обещания от лица Заказчика.</li>
		</ul>
		</p>
		<p>
		<ul type="none">
			<li>2.	ОБЯЗАТЕЛЬСТВА СТОРОН</li>
			<li>2.1.	Работник обязуется качественно и своевременно оказывать услуги по настоящему Договору в соответствии с Календарным планом оказания услуг (Приложение №1 к настоящему Договору).</li>
			<li>2.2.	Заказчик обязуется своевременно выплачивать Работнику причитающееся ему денежное вознаграждение за оказанные услуги на условиях, предусмотренных настоящим Договором, а также обеспечить Работника необходимыми для оказания услуг по настоящему Договору технической информацией и документацией Заказчика/ Клиента.</li>
			<li>2.3.	Работник обязуется оказывать услуги квалифицированно, бережно относиться к  оборудованию и к материалам Заказчика/Клиента во время оказания услуг.</li>
			<li>2.3.	Работник обязуется соблюдать правила внутреннего  трудового  распорядка Клиента и сохранять в тайне всю конфиденциальную информацию Заказчика и Клиента, указанного в п.1.1. настоящего Договора.</li>
			<li>2.4.	Все расходы, связанные с пребыванием Работника по месту оказания услуг и у Заказчика несет сам Работник.</li>
		</ul>
		</p>
		<p>
		<ul type="none">
			<li>3. СТОИМОСТЬ, УСЛОВИЯ И ПОРЯДОК РАСЧЕТОВ</li>
			<li>3.1.	Стоимость предоставляемых Работником услуг по настоящему Договору составляет <b>4200</b> (<b>четыре тысячи двести</b>) рублей, из которых в соответствии с законодательством РФ Заказчиком удерживается и уплачивается в бюджет РФ НДФЛ (13%) в размере <b>546</b> (<b>пятисот сорока шести</b>) рублей.</li>
			<li>3.2.	Заказчик оплачивает стоимость услуг в соответствии с п.3.1. настоящего Договора в течение 10 (десяти) календарных дней от даты подписания Сторонами соответствующего ежемесячного Акта об оказанных услуг.</li>
			<li>3.3.	Не позднее 3 (трех) рабочих дней после даты окончания очередного календарного месяца Работник передает Заказчику отчет по оказанию услуг, который ежемесячно согласуется и подписывается Заказчиком и  Стороны подписывают ежемесячный Акт об оказанных услугах по настоящему Договору.</li>
			<li>3.4.	Работнику выплачивается стоимость услуг (за вычетом НДФЛ) в соответствии с п.3.1. настоящего Договора в безналичном порядке - на банковский счет Работника, указанный в настоящем Договоре. В случае неполного месяца оказания услуг, стоимость услуг за неполный календарный месяц определятся, исходя из количества полных календарных дней в месяце оказания услуг.</li>
		</ul>
		</p>
		<p>
		<ul type="none">
			<li>4.	ОТВЕТСТВЕННОСТЬ СТОРОН</li>
			<li>4.1.  Ответственность Сторон за невыполнение или ненадлежащее выполнение обязательств по настоящему Договору регулируется действующим законодательством РФ.</li>
		</ul>
		</p>
		<p>
		<ul type="none">
			<li>5.	СРОК ДЕЙСТВИЯ НАСТОЯЩЕГО ДОГОВОРА</li>
			<li>5.1.  Настоящий Договор вступает в силу с даты подписания и действует до выполнения Сторонами взятых на себя обязательств по настоящему Договору.</li>
			<li>5.2.  Настоящий Договор может быть расторгнут по согласованию Сторон путем подписания Сторонами дополнительного соглашения.</li>
			<li>5.3.	Настоящий Договор может быть расторгнут в одностороннем внесудебном порядке любой из Сторон при условии предупреждения другой Стороны за 1 месяц до даты расторжения. Все оказанные услуги к дате расторжения должны быть оплачены Заказчиком.</li>
		</ul>
		</p>
		<p>
		<ul type="none">
			<li>6.	ПРОЧИЕ УСЛОВИЯ</li>
			<li>6.1.  Стороны освобождаются от ответственности за невыполнение обязательств по настоящему Договору при наступлении обстоятельств непреодолимой силы (чрезвычайные и непредотвратимые при данных условиях обстоятельства - стихийные бедствия, военные действия, блокады и т.п.) при условии немедленного уведомления другой Стороны о наступлении таких обстоятельств не позднее 3 (трех) календарных дней с даты наступления указанных обстоятельств.</li>
			<li>6.2. 	Настоящий Договор составлен в двух экземплярах, имеющих равную юридическую силу. Каждый экземпляр должен быть подписан обеими сторонами, и каждая Сторона получает по одному экземпляру. Приложение №1 является неотъемлемой частью настоящего Договора.</li>
		</ul>
		</p>
	</div>
	<div style="float:left; padding:20px;">
		<a href="static/files/Dogovor_na_okazanie_uslug.doc">Скачать пример договора</a>
	</div>
</div>